

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 4em;
  background-color: rgb(195, 218, 238);
  min-height: 150px;
  margin: 5%;
}

h2{
  margin-left: 14em;
}


.smallImg {
  width: 70px;
  height: 70px;
}
